Source: openmediavault-website
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.9.3
Homepage: http://omv-extras.org

Package: openmediavault-website
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5), openmediavault (<< 0.6)
Priority: optional
Description: OpenMediaVault website plugin
 web interface for hosting an additional website using 
 OpenMediaVault's Apache2 instance.
